<% content_for :title, "Milestones" %>
<div class="page-header">
  <h3>Milestones</h3>
</div>

<%= render 'milestones/collection' %>

<%= link_to t('helpers.actions.new_object', message: 'Milestone'), new_milestone_path, :class => 'btn btn-default pull-right' %>
