<%- model_class = Milestone -%>
<% content_for :title, " New Milestone" %>
<div class="page-header">
  <% if @milestone.project%>
    <h1><%=t '.title' %> for project <%=@milestone.project.title%></h1>
  <%else%>
    <h1><%=t '.title' %></h1>
  <%end%>
</div>
<%= render :partial => 'form' %>
