<% content_for :title, "Issues"%>
<div class="page-header">
    <h1>Issues</h1>
</div>
<%= render 'issues/collection' %>
<%= link_to t('helpers.actions.new_object', message:'Issue'), new_issue_path, :class => 'btn btn-default pull-right' %>
