<%- model_class = Issue -%>
<div class="page-header">
  <h3>
    <%=t '.title'%>
    <% if @issue.project %>
        for <%=link_to @issue.project.title, project_path(@issue.project)%>
    <%end%>
    <% if @issue.milestone %>
        - <%=link_to @issue.milestone.title, milestone_path(@issue.milestone)%>
    <%end%>
  </h3>
</div>
<%= render :partial => 'form' %>
