<%- model_class = Issue -%>
<div class="page-header">
  <% if @issue.project %>
    <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %> for project <%=@issue.project.title%></h1>
  <%else%>
    <h1>New issue</h1>
  <%end%>
</div>
<%= render :partial => 'form' %>
