<% content_for :title, "Dashboard"%>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="active">Your dashboard</li>
    </ol>
  </div>
</div>


<div class="row">
  <div class="col-md-9">
    <%= render 'issues/collection' %>
    <%= will_paginate @issues %>
  </div>

  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item list-group-item-heading">
            My projects
                  <span class="pull-right">
                    <%= link_to new_project_path, :class => 'btn btn-info btn-xs' do %>
                        <i class="glyphicon glyphicon-plus"></i>
                    <%end%>
                  </span>
          </li>
          <% @projects.each do |project| %>
              <li class="list-group-item"><%= link_to project.title, project_path(project) %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
