<% content_for :title, "Welcome"%>

<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Welcome on board !</h1>
      <p>
        Start by creating a new Project !
      </p>
      <hr/>
      <p class="text-center">
        <%=link_to t('helpers.actions.new_object', message:'Project'), new_project_path, :class => 'btn btn-success btn-lg'%>
      </p>

    </div>
  </div>
</div>


<div class="marketing">
  <div class="row">

    <!-- Easy -->
    <div class="col-md-4">
      <%=image_tag 'easy-icon.png', :class => 'img-rounded'%>
      <h2>Easy</h2>
      <p>
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
        Nullam id dolor id nibh ultricies vehicula ut id elit.
      </p>
    </div>

    <!-- Fast -->
    <div class="col-md-4">
      <%=image_tag 'faster-icon.png', :class => 'img-rounded'%>
      <h2>Fast</h2>
      <p>
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
        Nullam id dolor id nibh ultricies vehicula ut id elit.
      </p>
    </div>

    <!-- Interactive -->
    <div class="col-md-4">
      <%=image_tag 'users-icons.png', :class => 'img-rounded'%>
      <h2>Interactive</h2>
      <p>
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
        Nullam id dolor id nibh ultricies vehicula ut id elit.
      </p>
    </div>
  </div>
</div>