<% content_for :title, "Dashboard"%>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="active">Your dashboard</li>
    </ol>
  </div>
</div>


<div class="row">
  <!-- Display notifications -->
  <div class="col-md-9">
    <table class="table table-condensed">
      <tbody>
      <% @activities.each do |activity| %>
          <tr>
            <%= render_activity(activity) %>
          </tr>
      <%end%>
      </tbody>
    </table>

    <%= link_to 'See all activities', activities_path, :class => 'btn btn-default col-md-12' %>


  </div>

  <!-- Display projects list -->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item list-group-item-heading">
            My projects
                  <span class="pull-right">
                    <%= link_to new_project_path, :class => 'btn btn-info btn-xs' do %>
                        <i class="glyphicon glyphicon-plus"></i>
                    <%end%>
                  </span>
          </li>
          <% @projects.each do |project| %>
              <li class="list-group-item"><%= link_to project.title, project_path(project) %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
