<% content_for :title, "Welcome"%>

<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Welcome on board !</h1>
      <p>
        Woohoo, you apparently just create this fresh new account on All-U-Track !<br/>
        Thank you ;-).
      </p>
      <p>
        Start by creating a new Project or follow the guide for more information
      </p>
      <hr/>
      <p class="text-center">
        <a class="btn btn-default btn-lg">Learn more</a>
        <%=link_to t('helpers.actions.new_object', message:'Project'), new_project_path, :class => 'btn btn-success btn-lg'%>
      </p>

    </div>
  </div>
</div>


<div class="marketing">
  <div class="row">

    <!-- Easy -->
    <div class="col-md-4">
      <%=image_tag 'easy-icon.png', :class => 'img-rounded'%>
      <h2>Easy</h2>
      <p>
        Directly focus on the essential improve our efficiency ! This is exactly what we are trying to provide in All-U-Track.
        No endless configuration... Actually no configuration at all, create your project, add collabs and issues, that's it that's all.
      </p>
    </div>

    <!-- Fast -->
    <div class="col-md-4">
      <%=image_tag 'faster-icon.png', :class => 'img-rounded'%>
      <h2>Fast</h2>
      <p>
        Boring by losing time in tracking issue with your customer ? Your bugtracker is to complicated for non-it people ?
        Your bug tracker is linked to your source control and you don't want to give your source code to the planet ? Try
        All-U-Track...
      </p>
    </div>

    <!-- Interactive -->
    <div class="col-md-4">
      <%=image_tag 'users-icons.png', :class => 'img-rounded'%>
      <h2>Interactive</h2>
      <p>
        Share your issues with your collaborators and customers.
      </p>
    </div>
  </div>
</div>