<td>
  <!-- Icon -->
  <i class="glyphicon glyphicon-pencil text-muted big-icon"></i>
</td>
<td>
  <div class="row">
    <p class="small text-muted">
      <%=l activity.created_at, format: :usual_date%>
    </p>
    <p>
      <!-- If it's an activity of the current user display 'You' -->
      <% if activity.owner == current_user %>
          <strong>You</strong>
      <%else%>
          <strong><%= activity.owner.username %></strong>
      <%end%>

      updated issue

      <!-- If the issue has been removed, display "warning message" instead of link to the issue -->
      <% if activity.trackable %>
          <%= link_to activity.trackable.title, activity.trackable %>

          <!-- If the project has been removed, display "warning message" instead of link to the project -->
          <% if activity.trackable.project %>
              at <%= link_to activity.trackable.project.title, activity.trackable.project %>
          <% else %>
              at <strong>project</strong> which has since been removed
          <% end %>

      <% else %>
          which has since been removed
      <% end %>

    </p>
  </div>
</td>
