<% content_for :title, "Generate markdown " + @project.title %>
<div class="page-header">
  <h3>Generate as markdown</h3>
</div>
<p>
  The main goal of this feature is to generate for free a complete markdown representation of your project.
  It could be really useful to generate full documentation on your future app !
</p>
<p>
  All the issue that you have tagged as <span class="label label-info">Story</span> will be added to the markdown
  generation.
</p>

<form>

      <textarea class="form-control" rows="20">
<%=@markdown%>
      </textarea>

</form>

