/*
  Import libs
-----------------------------------------------------------*/
@import "twitter/bootstrap";

@import "google-prettify/prettify.css.scss";

/*
  Import specific files corresponding to controllers
-----------------------------------------------------------*/
@import "index.css.scss";

/*
  Push the body under the static navBar
-----------------------------------------------------------*/
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/*
  remove the padding on the navBar in order to align
  element with the rest of the page
-----------------------------------------------------------*/
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

/*
  Breadcrumb : remove rounded border, harmonize colors with
  the rest of the app
-----------------------------------------------------------*/
.breadcrumb {
  background-color: $table-bg-accent;
  border: 1px solid $table-border-color;
  border-radius: 0;
}

/*
  list-group-item-heading is used to display
  tabular info in project and dashboard
-----------------------------------------------------------*/
.list-group-item-heading {
  background-color: $table-bg-accent;
  margin-bottom: 0px;
}

/*
  Styling the panel active links (used mainly in issues
  collection
-----------------------------------------------------------*/
.panel .list-inline li.active a {
  background-color: #428bca;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 2px 5px;
}

/*
  Stylish code block
-----------------------------------------------------------*/
code, pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/*
  Invisible
-----------------------------------------------------------*/
.invisible {
  display: none;
}

/*
  Big icons used in Activities
-----------------------------------------------------------*/
.big-icon {
  font-size: 30px;
  padding-top: 10px;
}