<h1>Activities</h1>

<table class="table table-condensed">
  <tbody>
  <% @activities.each do |activity| %>
      <tr>
        <%= render_activity(activity) %>
      </tr>
  <%end%>
  </tbody>
</table>

<%= will_paginate @activities %>
